.dashboard{
    width: 100%;
    min-height: 90vh;
    background: #182747;
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 1rem;
    box-shadow:  1rem 1rem 5rem 2rem #223256;
  

}
@media only screen and (max-width: 700px) {
    .dashboard{
        display: grid;
        grid-template-columns: 1fr;
       
    }
    .leftpane{
        grid-area: leftpane;
    }
    .rightpane{
        grid-area: rightpane;
    }

  }